### 1. Python program to scrape data for “Data Analyst” Job position in “Bangalore” location. Youhave to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\abinaya\anaconda3\lib\site-packages (4.1.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\abinaya\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\abinaya\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\abinaya\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: idna in c:\users\abinaya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: outcome in c:\users\abinaya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\abinaya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sniffio in c:\users\abinaya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\abinaya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\abinaya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\abinaya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\abinaya\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\abinaya\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\abinaya\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\abinaya\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\abinaya\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\abinaya\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\abinaya\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\abinaya\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [1]:
#importing all the liberaries:
import selenium
from selenium import webdriver
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")

In [27]:
driver=webdriver.Chrome("E:/chromedriver.exe")

In [28]:
url='https://www.naukri.com/'
driver.get(url)

In [29]:
# finding the web elements for search job bar using id:
search_job=driver.find_element_by_class_name("suggestor-input")
search_job

In [30]:
#Write the WebElement:
search_job.send_keys("Data Scientist")

In [31]:
#Find the Location by absolute xpath::
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [32]:
# Finding Web element for job loaction bar:
search_loc.send_keys("Bangalore")

In [33]:
# Search botton extracting by xPath:
search_booton=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_booton

In [34]:
search_booton.click()

In [11]:
# Salary Check box:
"salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[4]/label/i')"
"salary_check"

'salary_check'

In [12]:
"salary_check.click()"

'salary_check.click()'

In [35]:
#Extracting Company names:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e0216595e9e6868fb20b4a6bfeff7ddf", element="d8f97efe-dbcd-42c0-a4ab-0878b170cfcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e0216595e9e6868fb20b4a6bfeff7ddf", element="8bad1c59-383f-43aa-8249-f507b5889d4a")>]

In [36]:
job_title=[]
for i in title_tags:
    job_title.append(i.text)
len(job_title)
job_title

['Data Scientist',
 'Data Scientist',
 'Senior/ Lead Data Scientist',
 'Data Scientist / Analyst',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Junior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr. Data Scientist, Digital Services Analytics',
 'HCL Tech Opening - Senior Data Scientist',
 'Cognitive/AI Senior Data Scientist',
 'Sr. Product Data Scientist',
 'Data Scientist II- Merchandise & Discovery',
 'Virtusa Hiring DATA Scientist- PAN India']

In [37]:
#Extracting Company names:
Company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(Company_tags)
Company_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e0216595e9e6868fb20b4a6bfeff7ddf", element="2ffbaf8d-1688-4e0b-aa1e-97f1a0d378dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e0216595e9e6868fb20b4a6bfeff7ddf", element="6763f41c-3290-4624-ab8e-551835423912")>]

In [38]:
company_name=[]
for i in Company_tags:
    company_name.append(i.text)
len(company_name)
company_name[0:2]

['HDFC Bank', 'Shell']

In [39]:
# Extracting Location:

Location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(Location_tag)
Location_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e0216595e9e6868fb20b4a6bfeff7ddf", element="74efde50-201b-4a93-8839-4c154560ace6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e0216595e9e6868fb20b4a6bfeff7ddf", element="f4791058-b972-49d5-8ccf-56b8121ed6ab")>]

In [40]:
Location_name=[]
for i in Location_tag:
    Location_name.append(i.text)
len(Location_name)
Location_name

['Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)']

In [41]:
# Extracting experience:
Exp_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(Exp_tag)
Exp_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e0216595e9e6868fb20b4a6bfeff7ddf", element="e9794186-0a9c-4a37-a6f1-bf545787800d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e0216595e9e6868fb20b4a6bfeff7ddf", element="bdbddcde-9252-48aa-be01-2d62970bf9aa")>]

In [42]:
Exp_name=[]
for i in Exp_tag:
    Exp_name.append(i.text)
len(Exp_name)
Exp_name

['1-6 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '4-9 Yrs',
 '3-8 Yrs',
 '0-0 Yrs',
 '1-5 Yrs',
 '7-12 Yrs',
 '7-10 Yrs',
 '4-9 Yrs',
 '6-11 Yrs',
 '5-10 Yrs',
 '9-12 Yrs',
 '3-6 Yrs',
 '6-11 Yrs',
 '6-11 Yrs',
 '4-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '5-9 Yrs']

In [43]:
len(job_title),len(company_name),len(Location_name),len(Exp_name)

(20, 20, 20, 20)

In [44]:
#DataFrame:
Jobs=pd.DataFrame({'Job_Title':job_title,"Company_Name":company_name,"Location":Location_name,"Experience":Exp_name})

In [45]:
Top_10Jobs=Jobs[0:11]

In [46]:
Top_10Jobs

,Job_Title,Company_Name,Location,Experience
0,Data Scientist,HDFC Bank,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",1-6 Yrs
1,Data Scientist,Shell,Bangalore/Bengaluru,4-9 Yrs
2,Senior/ Lead Data Scientist,AmoliTalents,Bangalore/Bengaluru,5-10 Yrs
3,Data Scientist / Analyst,open data fabric,Bangalore/Bengaluru,4-9 Yrs
4,Forecasting Analyst/ Data Scientist (US Client),Concentrix,"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",3-8 Yrs
5,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",0-0 Yrs
6,Junior Data Scientist,Titan,Bangalore/Bengaluru,1-5 Yrs
7,Data Scientist,Amazon,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",7-12 Yrs
8,Data Scientist,Hewlett-Packard (HP),Bangalore/Bengaluru,7-10 Yrs
9,Data Scientist,Shell,Bangalore/Bengaluru,4-9 Yrs
10,Data Scientist,Master Mind Consultancy,"Mumbai, Bangalore/Bengaluru",6-11 Yrs

## 2.Python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.This task will be done in following steps:

In [47]:
driver=webdriver.Chrome("E:/chromedriver.exe")

In [48]:
url='https://www.naukri.com/'
driver.get(url)

In [49]:
# finding the web elements for search job bar using id:
search_job=driver.find_element_by_class_name("suggestor-input")
search_job

In [50]:
#Write the WebElement:
search_job.send_keys("Data Scientist")

In [51]:
#Find the Location by absolute xpath::
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [52]:
# Finding Web element for job loaction bar:
search_loc.send_keys("Bangalore")

In [53]:
# Search botton extracting by xPath:
search_booton=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_booton

In [54]:
search_booton.click()

In [65]:
#Extracting Company names:
title_tags1 = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags1)
title_tags1[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="aeaccee0cf21555922c3ab538f8d2136", element="6710b915-f68d-4a0a-8180-ae7dd8255c17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aeaccee0cf21555922c3ab538f8d2136", element="799400e3-2984-4567-b07f-fbcba42ae542")>]

In [66]:
job_title1=[]
for i in title_tags1:
    job_title1.append(i.text)
len(job_title1)
job_title1

['Data Scientist',
 'Data Scientist',
 'Senior/ Lead Data Scientist',
 'Data Scientist / Analyst',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Junior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr. Data Scientist, Digital Services Analytics',
 'HCL Tech Opening - Senior Data Scientist',
 'Cognitive/AI Senior Data Scientist',
 'Sr. Product Data Scientist',
 'Data Scientist II- Merchandise & Discovery',
 'Virtusa Hiring DATA Scientist- PAN India']

In [63]:
#Extracting Company names:
Company_tags1=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(Company_tags1)
Company_tags1[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="aeaccee0cf21555922c3ab538f8d2136", element="a0a96fd5-2d6b-4561-961d-cc467288c1d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aeaccee0cf21555922c3ab538f8d2136", element="12d610a2-bd4c-4bd3-aa1f-5e9d3f91009c")>]

In [64]:
company_name1=[]
for i in Company_tags1:
    company_name1.append(i.text)
len(company_name1)
company_name1[0:2]

['HDFC Bank', 'Shell']

In [67]:
# Extracting Location:

Location_tag1=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(Location_tag1)
Location_tag1[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="aeaccee0cf21555922c3ab538f8d2136", element="4ea02860-1517-404e-be20-7386c10a2e75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aeaccee0cf21555922c3ab538f8d2136", element="162b24eb-1347-4b8a-8552-a6b57f7e2acc")>]

In [68]:
Location_name1=[]
for i in Location_tag1:
    Location_name1.append(i.text)
len(Location_name1)
Location_name1

['Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)']

In [69]:
len(job_title1),len(company_name1),len(Location_name1)

(20, 20, 20)

In [70]:
#DataFrame:
Job2=pd.DataFrame({"Title":job_title1,"Company":company_name1,"Location":Location_name1})

In [72]:
Job2[0:11]

,Title,Company,Location
0,Data Scientist,HDFC Bank,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben..."
1,Data Scientist,Shell,Bangalore/Bengaluru
2,Senior/ Lead Data Scientist,AmoliTalents,Bangalore/Bengaluru
3,Data Scientist / Analyst,open data fabric,Bangalore/Bengaluru
4,Forecasting Analyst/ Data Scientist (US Client),Concentrix,"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du..."
5,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ..."
6,Junior Data Scientist,Titan,Bangalore/Bengaluru
7,Data Scientist,Amazon,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru"
8,Data Scientist,Hewlett-Packard (HP),Bangalore/Bengaluru
9,Data Scientist,Shell,Bangalore/Bengaluru
10,Data Scientist,Master Mind Consultancy,"Mumbai, Bangalore/Bengaluru"

## 3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [74]:
driver=webdriver.Chrome("E:/chromedriver.exe")

In [75]:
url='https://www.naukri.com/'
driver.get(url)

In [76]:
# finding the web elements for search job bar using id:
search_job=driver.find_element_by_class_name("suggestor-input")
search_job

In [77]:
#Write the WebElement:
search_job.send_keys("Data Scientist")

In [78]:
#Find the Location by absolute xpath::
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [79]:
# Finding Web element for job loaction bar:
search_loc.send_keys("Bangalore")

In [80]:
# Search botton extracting by xPath:
search_booton=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_booton

In [81]:
search_booton.click()

In [82]:
# Location Check box:
Location_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[4]/label/i')
Location_check

In [83]:
Location_check.click()

In [84]:
# Salary Check box:
Salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
Salary_check

In [85]:
Salary_check.click()

In [86]:
#Title_Tage:
Title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
Title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="a96203fc-8989-496f-86c2-40f523e8034c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="296b3873-2fd1-4cc1-9258-84e98e0696a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="5b2c3074-b855-453e-87d7-23a87f4adac0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="a8b44af5-0319-4625-8a6a-4220591ee6c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="e015cdad-2c69-4abc-a24a-224772e778de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="dc19c261-9a9b-4916-a513-c21dd6a7c662")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="b4f92b33-3a96-49e4-9f63-aedcf6c0381b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="6906f035-75b9-4443-8f79-eeb8a7d0f6e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="dd25485e-dc08-443f-8b95-bdcbfdffa6e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="b37d8645-b487-4de1-bd51-a22a789fd5b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="4902d086-25c2-4918-ab22-490d9fbf47f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="77427ece-a2dd-4f83-9a3b-9c94b13c9505")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="38291e43-1f67-4146-93d4-4a881c0749f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="55e1bfe8-7396-48f8-ac57-9bf97cfd9ca9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="73f9dd43-92c4-44aa-b7b7-b71dfd231650")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="359aed40-f4a7-4a4a-9bc5-ef4b2105ec2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="2e603c3b-076a-42af-9cf5-3bca27bcf99c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="36799263-51a6-4cbf-a485-b5a387304bb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="a6da21c7-fd59-48a4-b6da-284d3607764c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="114565a7-dd9f-4410-89dd-f7cae81e989b")>]

In [87]:
#Title_name:
Title_name2=[]
for i in Title_tags:
    Title_name2.append(i.text)
Title_name2

['Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Open Project | IT Consulting | Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist-Onsite and offshore',
 'Data & Applied Scientist',
 'Data and applied Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Preparation Analyst / Sr . Analyst',
 'Senior Data Analyst',
 'Hiring For Data Analyst (SQL & Scala) || Coforge',
 'Data Analyst/Data Engineer',
 'Urgent Opening For Data Engineer and Senior Data Engineer',
 'Data Analyst- 6-9 Years- Pan India-Permanent position',
 'Opportunity with Deloitte India | GCP - Data Engineer',
 'Fresher Data Engineer with Pentaho Certification',
 'Sr.Data Analyst']

In [88]:
# Company Tag:
Company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
Company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="854f1b4e-56b7-46a5-80fd-6b7f451cf9bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="37f9aa2a-9d67-4f43-8917-43274d17d43f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="f8cdd530-7969-4d40-b64c-772428884609")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="558767b3-5333-49f1-975a-56364ddf1c91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="551d0790-383f-4c2c-9852-b1d3d7681a73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="352cb657-817e-422e-b3cd-83c1da9d9bc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="a7d46db7-ee9c-4e85-9e9d-752ea5a29404")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="5cf839c9-28e6-4cef-ac3a-508154192977")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="9bc43412-3af8-43ef-a9d8-790384b1b709")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="6dbad384-3f58-46a9-8f39-98a04c4b412f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="da2d65c6-8d66-4d3b-9973-ff172a970847")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="a3b11267-d43a-4992-8e08-f56d455debb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="db762d93-9517-4e98-a42a-df7c25af5b46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="106b8d14-c1ae-4c81-8b48-13811a3dad55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="80876fa5-e6e7-4826-a822-8b7c13a5a5d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="70541f35-7fbc-48ec-823d-a5952a12583b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="55a4f3d2-5cf6-4ef8-8645-dde3d90837b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="29bb8f50-3a64-4608-80a7-e967966c8aaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="72c40282-dba3-4455-9306-1fc6d4b6504f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="0a73801c-b6e6-44c6-875f-8e229b8f9ea2")>]

In [89]:
#Company_Name:
Comp_Name=[]
for i in Company_tags:
    Comp_Name.append(i.text)
Comp_Name

['NTT Data',
 'Sejal Consulting Hub',
 'Virtuoso Staffing Solutions Pvt Ltd',
 'BlackBuck',
 'Country Veggie',
 'NAVIKENZ INDIA PRIVATE LIMITED',
 'PROKXIMITY',
 'Microsoft',
 'Microsoft',
 'Alp Consulting Limited',
 'SpotDraft',
 'Xpheno',
 'Urban Company',
 'Coforge',
 'Coforge',
 'FCS Software Solutions',
 'Virtusa',
 'Deloitte',
 'PARAMOUNT HEALTH SERVICES INSURANCE TPA PRIVATE',
 'ACZ Global Private Limited']

In [90]:
#Location Tag:
Loc_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
Loc_tag

[<selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="9e6de8ea-d868-4def-a82e-feb1efa01ea8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="c820d643-e98d-43f1-aa8b-44de0192f225")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="fd53d7c9-6b4e-4f17-af1c-9643cd3cf776")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="db6afaf1-f79e-436e-975d-d8062ae13402")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="5a5d7d96-73a1-42cf-9a9b-fd4196754421")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="f73cde9f-afc5-413b-b79e-eb3d0ff38836")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="a21297f7-7d8f-4420-9e54-de70a7f87079")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="6c5e26b8-354d-4d60-8586-c3458214f19c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="87fbcd86-93fc-4549-aafa-47b8fcd00665")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="b7f37da0-7099-4749-96e5-433178da960b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="8e8b2759-6f94-4836-9d18-c3d38be9a241")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="8688662e-b5ed-4e9e-8ba0-ea4b82866b87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="d938c22a-af9c-4b44-a640-225c590f0b60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="e7209bf8-a8c9-4ec2-bcae-eb6ed1c1b724")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="b15a507b-eb00-4330-a694-260899b2de24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="e854939d-9116-47ad-82a2-c574b355d326")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="68a7bfe8-700d-404e-90fe-e8cec05f0f47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="897a53d7-0cc4-4770-867f-b10f8a29ff0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="b66da605-fb26-457c-b170-5e1cdecbcd1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="83036918-2563-4771-ab2d-de4d2dbbb09c")>]

In [91]:
# Location_Name:
Loc_name=[]
for i in Loc_tag:
    Loc_name.append(i.text)
Loc_name

['Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida, New Delhi, Bangalore Rural, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Gurgaon, Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru, Greater Noida\n(WFH during Covid)',
 'Noida, Mumbai, Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'New Delhi, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Mumbai, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Thane, Navi Mumbai, Pune, Ahmedabad, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Kochi/Cochin, Gurgaon/Gurugram, Bangalore/Bengaluru']

In [92]:
#Experience_Tag:
Exp_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
Exp_tag

[<selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="212a96eb-3173-40f6-b996-d36de25a2652")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="6b30c10c-bd93-4caa-b8df-5dec39a6fa3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="4de6b2c0-8e6e-459e-8819-a6e65a544b25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="eade0b0d-f8af-419c-b916-f0b440db586a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="132a6c4e-b9f3-47bc-bf36-4e5d903d20cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="a2268cae-0a42-401d-ab4a-0440b5bfdfd6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="49590d43-9416-4fb4-a790-1c20ea7a35b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="9075b257-6be3-423d-bcb9-76993d767616")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="7c0cf4c1-a8d0-4395-9a78-1f2a6f555b60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="426273cc-1081-4391-a989-0d1916ad4f9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="fe3910d0-8126-4bcb-a496-c4b816b8d194")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="c77ce4de-d648-45d4-a862-df69b3155101")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="3a7521cd-6a15-4a89-a10f-446f7349afc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="fd66569c-9ca2-46e8-b4f0-43fd14227854")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="26970620-67c8-4ecd-85a7-f37f5b50e9a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="b4e677d1-7564-4438-9767-187776548a8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="8facd638-0eeb-4930-bded-01babd0aeb5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="5787b0fa-7da0-4536-9446-3a59c1ea363e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="7e961d76-6b02-4d73-9166-9b45fdc11b90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="708e1110-8ac1-46ba-912d-8d4a9b6437ca")>]

In [93]:
#Experience_Name:
Exp_name=[]
for i in Exp_tag:
    Exp_name.append(i.text)
Exp_name

['0-0 Yrs',
 '0-3 Yrs',
 '5-10 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '1-6 Yrs',
 '1-5 Yrs',
 '6-11 Yrs',
 '2-4 Yrs',
 '4-8 Yrs',
 '6-10 Yrs',
 '3-8 Yrs',
 '6-9 Yrs',
 '2-6 Yrs',
 '0-1 Yrs',
 '4-6 Yrs']

In [94]:
#Salary_tag:
Salary_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
Salary_tag

[<selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="32b7e3c3-2210-4b90-b34c-ae142a229c0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="335a1042-b8f4-47c0-b46f-3c24e6fbe8e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="8b41ecfa-7312-46cd-9e7b-a8afa7bfa889")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="6771e7a0-1b5a-4ec3-b939-4cbad04b6669")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="bcee93ee-8e8f-49bd-8ccf-ccebad4cdfd2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="101d1007-4809-4664-8199-ba8612eb17b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="fc34b901-fcc9-4ef8-915c-5fd2d90c2c47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="332f2a01-5b1d-42ea-a647-8be64bc23a19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="83874313-2387-4a08-9e46-da6b6326718f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="26ed26e2-e347-422a-a130-99b671d841c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="2146633f-a8bf-4c8b-88cb-28ccde28523d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="4ecf8377-ea6f-492e-a7e0-19141d0e10fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="adce4f25-0ad0-4379-bec4-1ce619d456e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="1f573779-0c2b-4e30-84ff-254f095f8511")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="56dd86ea-f87e-4bca-b01e-5e800922feda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="3aa1b014-c3fa-42a1-add9-e1a0ec3e6a2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="0edc2940-388e-4049-b33e-bf46a25c8fd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="aaa851cc-c0c8-4242-88ea-eea3e7a2d788")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="10a0fbb6-6329-4be3-9d6b-7abef49894c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e72a01cc48c2373012ad34d426cc5a1", element="f78b84b6-29a2-455b-b4e1-a45068fc3b91")>]

In [95]:
#Salary:
Sal_name=[]
for i in Salary_tag:
    Sal_name.append(i.text)
Sal_name

['3,50,000 - 5,00,000 PA.',
 '4,00,000 - 7,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '4,00,000 - 9,00,000 PA.',
 'Not disclosed',
 '4,00,000 - 9,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 '1,50,000 - 3,75,000 PA.',
 'Not disclosed']

In [96]:
len(Title_name2),len(Comp_Name),len(Loc_name),len(Exp_name),len(Sal_name)

(20, 20, 20, 20, 20)

In [98]:
#DataFrame:
Jobs3=pd.DataFrame({"Title":Title_name2,"Company":Comp_Name,"Location":Loc_name,"Experience":Exp_name,"Salary":Sal_name})

In [99]:
Jobs3[0:11]

,Title,Company,Location,Experience,Salary
0,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",0-0 Yrs,"3,50,000 - 5,00,000 PA."
1,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",0-3 Yrs,"4,00,000 - 7,00,000 PA."
2,Open Project | IT Consulting | Data Scientist,Virtuoso Staffing Solutions Pvt Ltd,"Noida, New Delhi, Bangalore Rural, Bangalore/B...",5-10 Yrs,Not disclosed
3,Data Scientist,BlackBuck,"Gurgaon, Bengaluru",3-7 Yrs,Not disclosed
4,Data Scientist,Country Veggie,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",1-3 Yrs,Not disclosed
5,Data Scientist,NAVIKENZ INDIA PRIVATE LIMITED,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",2-5 Yrs,Not disclosed
6,Data Scientist-Onsite and offshore,PROKXIMITY,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",3-8 Yrs,Not disclosed
7,Data & Applied Scientist,Microsoft,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",3-7 Yrs,Not disclosed
8,Data and applied Scientist,Microsoft,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",3-7 Yrs,Not disclosed
9,Data Scientist,Alp Consulting Limited,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",1-6 Yrs,Not disclosed
10,Data Scientist,SpotDraft,"Gurgaon/Gurugram, Bangalore/Bengaluru",1-5 Yrs,Not disclosed

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:1. Brand 2. Product Description 3. Price

In [138]:
driver=webdriver.Chrome("E:/chromedriver.exe")

In [139]:
url='https://www.flipkart.com/'
driver.get(url)

In [140]:
# finding the web elements for search job bar using id:
search_product=driver.find_element_by_class_name("_3704LK")
search_product

In [141]:
#Write the WebElement:
search_product.send_keys("sunglasses")

In [142]:
search_product.click()

In [146]:
#tagS:

Dealer_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
print(Dealer_tag[0:2])
Prodesc_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
print(Prodesc_tag[0:2])
Price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
print(Price_tag[0:2])
Discount_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
print(Discount_tag[0:2])
#extracting the names:

Dealer_name=[]
Pro_desc=[]
Price=[]
Discount=[]
for i in Dealer_tag:
    Dealer_name.append(i.text)
for i in Prodesc_tag:
    Pro_desc.append(i.text)
for i in Price_tag:
    Price.append(i.text)
for i in Discount_tag:
    Discount.append(i.text)
print(Dealer_name[0:2])
print(Pro_desc[0:2])    
print(Price[0:2])  
print(Discount[0:2])

[<selenium.webdriver.remote.webelement.WebElement (session="4dc8ad68346d644cf82317af38f49921", element="95491b87-ff9b-4c17-a2e2-f8fa69999de9")>, <selenium.webdriver.remote.webelement.WebElement (session="4dc8ad68346d644cf82317af38f49921", element="480e43d1-add4-464e-9a53-b9a41fded582")>]
[<selenium.webdriver.remote.webelement.WebElement (session="4dc8ad68346d644cf82317af38f49921", element="de0cecc4-658d-4673-9a85-3004ec991780")>, <selenium.webdriver.remote.webelement.WebElement (session="4dc8ad68346d644cf82317af38f49921", element="560d9f15-e704-4af1-933d-80a719f7e596")>]
[<selenium.webdriver.remote.webelement.WebElement (session="4dc8ad68346d644cf82317af38f49921", element="eb1d6437-ef98-4c40-bc78-b9d278d5cfd1")>, <selenium.webdriver.remote.webelement.WebElement (session="4dc8ad68346d644cf82317af38f49921", element="f7d0f11c-cc58-475b-8b76-d44768fe6044")>]
[<selenium.webdriver.remote.webelement.WebElement (session="4dc8ad68346d644cf82317af38f49921", element="ba9a730b-a7f4-46fc-a17e-8440635f9784")>, <selenium.webdriver.remote.webelement.WebElement (session="4dc8ad68346d644cf82317af38f49921", element="ec4a7ced-4232-4918-9e22-ce86f7db63c3")>]
['ROZZETTA CRAFT', 'ROYAL SON']
['UV Protection Round Sunglasses (Free Size)', 'Polarized, UV Protection Round Sunglasses (52)']
['₹376', '₹709']
['85% off', '64% off']

In [147]:
# Next botton extracting by xPath:
Next_booton=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
Next_booton

In [148]:
Next_booton.click()

In [149]:
# Page 2:
Dealer_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    
Prodesc_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    
Price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    
Discount_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    
#extracting the names:

for i in Dealer_tag:
    Dealer_name.append(i.text)
for i in Prodesc_tag:
    Pro_desc.append(i.text)
for i in Price_tag:
    Price.append(i.text)
for i in Discount_tag:
    Discount.append(i.text)
    
print(Dealer_tag[41:45])
print(Prodesc_tag[41:45])
print(Price_tag[41:45])
print(Discount_tag[41:45])
print(Dealer_name[41:45])
print(Pro_desc[41:45])    
print(Price[41:45])  
print(Discount[41:45])

[]
[]
[]
[]
['PIRASO', 'Elligator', 'AISLIN', 'PHENOMENAL']
['Toughened Glass Lens, UV Protection Wayfarer, Rectangul...', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Over-sized Sunglasses (57)', 'UV Protection Shield Sunglasses (Free Size)']
['₹299', '₹126', '₹948', '₹278']
['88% off', '91% off', '74% off', '86% off']

In [151]:
Next_booton.click()

In [152]:
#Page 3 Extraction:

Dealer_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    
Prodesc_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    
Price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    
Discount_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    
#extracting the names:

for i in Dealer_tag:
    Dealer_name.append(i.text)
for i in Prodesc_tag:
    Pro_desc.append(i.text)
for i in Price_tag:
    Price.append(i.text)
for i in Discount_tag:
    Discount.append(i.text)
    
print(Dealer_tag[91:95])
print(Prodesc_tag[91:95])
print(Price_tag[91:95])
print(Discount_tag[91:95])
print(Dealer_name[91:95])
print(Pro_desc[91:95])    
print(Price[91:95])  
print(Discount[91:95])

[]
[]
[]
[]
['ROZZETTA CRAFT', 'hipe', 'elegante', 'SUNBEE']
['UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...']
['₹424', '₹139', '₹349', '₹203']
['78% off', '90% off', '76% off', '84% off']

In [154]:
len(Dealer_name),len(Pro_desc),len(Price),len(Discount)

(120, 118, 120, 120)

In [155]:
#DataFrame:
SunGlass=pd.DataFrame({"Vendoer":Dealer_name[0:101],"Description":Pro_desc[0:101],"Price":Price[0:101],"Discount":Discount[0:101]})

In [156]:
SunGlass

,Vendoer,Description,Price,Discount
0,ROZZETTA CRAFT,UV Protection Round Sunglasses (Free Size),₹376,85% off
1,ROYAL SON,"Polarized, UV Protection Round Sunglasses (52)",₹709,64% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹148,88% off
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹203,84% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹179,88% off
...,...,...,...,...
96,hipe,"UV Protection, Riding Glasses Retro Square, Sp...",₹159,84% off
97,Lee Topper,"Polarized, UV Protection Aviator Sunglasses (64)",₹231,82% off
98,Lee Topper,UV Protection Cat-eye Sunglasses (17),₹325,74% off
99,ROYAL SON,UV Protection Wayfarer Sunglasses (Free Size),₹709,64% off
100,IDEE,Others Retro Square Sunglasses (Free Size),₹859,61% off

### 6. Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in thesearch field.You have to scrape 4 attributes of each sneaker:1. Brand 2. Product Description 3. Price

In [173]:
driver=webdriver.Chrome("E:/chromedriver.exe")

In [174]:
url='https://www.flipkart.com/'
driver.get(url)

In [175]:
# finding the web elements for search job bar using id:
search_product=driver.find_element_by_class_name("_3704LK")
search_product

In [176]:
#Write the WebElement:
search_product.send_keys("sneakers")

In [177]:
#tagS:

Dealer1_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
print(Dealer1_tag[0:2])
Prodesc1_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
print(Prodesc1_tag[0:2])
Price1_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
print(Price1_tag[0:2])
Discount1_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
print(Discount1_tag[0:2])
#extracting the names:

Dealer1_name=[]
Pro1_desc=[]
Price1=[]
Discount1=[]
for i in Dealer1_tag:
    Dealer1_name.append(i.text)
for i in Prodesc1_tag:
    Pro1_desc.append(i.text)
for i in Price1_tag:
    Price1.append(i.text)
for i in Discount1_tag:
    Discount1.append(i.text)
print(Dealer1_name[0:2])
print(Pro1_desc[0:2])    
print(Price1[0:2])  
print(Discount1[0:2])

[<selenium.webdriver.remote.webelement.WebElement (session="81b79e9621075fbfee28a8ea3ac5b944", element="2ee0fc1e-f7ba-4485-8fbb-e05b22c81b33")>, <selenium.webdriver.remote.webelement.WebElement (session="81b79e9621075fbfee28a8ea3ac5b944", element="4a5211a8-11d0-452c-bf50-7aa11ddbcfd1")>]
[<selenium.webdriver.remote.webelement.WebElement (session="81b79e9621075fbfee28a8ea3ac5b944", element="c2af98b3-ca37-49c2-a93a-e1709cc7d9b7")>, <selenium.webdriver.remote.webelement.WebElement (session="81b79e9621075fbfee28a8ea3ac5b944", element="3d2ec7b8-12a5-4ee7-ab0f-ff3e396c0d8e")>]
[<selenium.webdriver.remote.webelement.WebElement (session="81b79e9621075fbfee28a8ea3ac5b944", element="a1be6025-91ef-4986-adc4-eddf70990207")>, <selenium.webdriver.remote.webelement.WebElement (session="81b79e9621075fbfee28a8ea3ac5b944", element="de158785-7e9c-438c-9b0c-b9b03e341602")>]
[<selenium.webdriver.remote.webelement.WebElement (session="81b79e9621075fbfee28a8ea3ac5b944", element="33b2d780-5e51-4313-98b4-38d5a74027fd")>, <selenium.webdriver.remote.webelement.WebElement (session="81b79e9621075fbfee28a8ea3ac5b944", element="b01ba531-b8c4-4bfc-a351-3f1a885da5b7")>]
['RapidBox', 'PUMA']
['Match Star Perf Sneakers For Men', 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...']
['₹580', '₹2,809']
['41% off', '48% off']

In [178]:
# Next botton extracting by xPath:
Next_booton=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
Next_booton

In [179]:
Next_booton.click()

In [184]:
#Page2:

Dealer1_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

Prodesc1_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

Price1_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

Discount1_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

#extracting the names:
for i in Dealer1_tag:
    Dealer1_name.append(i.text)
for i in Prodesc1_tag:
    Pro1_desc.append(i.text)
for i in Price1_tag:
    Price1.append(i.text)
for i in Discount1_tag:
    Discount1.append(i.text)
print(Dealer1_name[75:80])
print(Pro1_desc[75:80])    
print(Price1[75:80])  
print(Discount1[75:80])

['BRUTON', 'Chevit', 'SPARX', 'Kraasa', 'PUMA']
['Comfortable & Ultra Light Weight Sneaker Sneakers For M...', "Echor Men's Sneakers Fashion Lightweight Running Shoes ...", 'Stylish & Trending Outdoor Walking Comfortable Sneakers...', 'Sneakers For Men', 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...']
['₹249', '₹209', '₹735', '₹444', '₹3,533']
['73% off', '9% off', '55% off', '55% off', '60% off']

In [181]:
Next_booton.click()

In [182]:
#Page3:

Dealer1_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

Prodesc1_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

Price1_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

Discount1_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

#extracting the names:
for i in Dealer1_tag:
    Dealer1_name.append(i.text)
for i in Prodesc1_tag:
    Pro1_desc.append(i.text)
for i in Price1_tag:
    Price1.append(i.text)
for i in Discount1_tag:
    Discount1.append(i.text)
print(Dealer1_name[90:100])
print(Pro1_desc[90:100])    
print(Price1[90:100])  
print(Discount1[90:100])

['Numenzo', 'RapidBox', 'Chevit', 'asics', 'PUMA', 'BIRDE', 'DUNKASTON', 'PUMA', 'Hot & Knot', 'BIRDE']
['Shark-41 Sneakers For Men', 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...', 'Dawn Sneakers Partywear Casual Couple Dating Fancy Shoe...', 'casual for men Sneakers For Men', 'sports shoes for men | Latest Stylish Casual sneakers f...', 'Sneakers For Men', 'casual sneaker shoes for men kardam&sons Sneakers For M...', 'Sneakers For Men', 'Sneakers For Men', 'BMW MMS Future Kart Cat Sneakers For Men']
['₹379', '₹590', '₹348', '₹2,244', '₹1,377', '₹370', '₹309', '₹1,294', '₹539', '₹369']
['40% off', '76% off', '50% off', '50% off', '62% off', '79% off', '63% off', '46% off', '63% off', '45% off']

In [185]:
len(Dealer1_name),len(Pro1_desc),len(Price1),len(Discount1)

(160, 135, 160, 159)

In [187]:
#DataFrame:
Sneakers=pd.DataFrame({"Vendoer":Dealer1_name[0:101],"Description":Pro1_desc[0:101],"Price":Price1[0:101],"Discount":Discount1[0:101]})

In [188]:
Sneakers

,Vendoer,Description,Price,Discount
0,RapidBox,Match Star Perf Sneakers For Men,₹580,41% off
1,PUMA,Super Stylish & Trendy Combo Pack of 02 Pairs ...,"₹2,809",48% off
2,Chevit,Sneakers For Men,₹469,70% off
3,Magnolia,5011-Latest Collection Stylish Casual Loafer S...,₹327,67% off
4,World Wear Footwear,Sneakers For Men,₹149,70% off
...,...,...,...,...
96,DUNKASTON,casual sneaker shoes for men kardam&sons Sneak...,₹309,63% off
97,PUMA,Sneakers For Men,"₹1,294",46% off
98,Hot & Knot,Sneakers For Men,₹539,63% off
99,BIRDE,BMW MMS Future Kart Cat Sneakers For Men,₹369,45% off
100,Rzisbo,Stylish White Casual Sneakers shoes Men and Bo...,₹549,73% off

### 7. Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoedescription, price of the shoe as shown in the below image.

In [28]:
driver=webdriver.Chrome("E:/chromedriver.exe")

In [29]:
url='https://www.myntra.com/shoes/'
driver.get(url)

In [30]:
#Price Filter:
Price_Filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
Price_Filter

In [31]:
Price_Filter.click()

In [37]:
#Color Filter:
Color_Filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
Color_Filter

In [38]:
Color_Filter.click()

In [54]:
#Scrapping the Tags Page1:
Brand_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
print(Brand_tag[0:2])
Price_tag=driver.find_elements_by_xpath('//div[@class="product-price"]')
print(Price_tag[0:2])
Des_tag=driver.find_elements_by_xpath('//h4[@class="product-product"]')
print(Des_tag[0:2])
Brand_name=[]
Price_details=[]
Des_name=[]
for i in Brand_tag:
    Brand_name.append(i.text)
for i in Des_tag:
    Des_name.append(i.text)
for i in Price_tag:
    Price_details.append(i.text)
print(Brand_name[0:2])
print(Des_name[0:2])
print(Price_details[0:2])

[<selenium.webdriver.remote.webelement.WebElement (session="a9d26cd33f10d0af18bf6870350272c3", element="80f7ba70-8033-4292-aaf4-708f4614a865")>, <selenium.webdriver.remote.webelement.WebElement (session="a9d26cd33f10d0af18bf6870350272c3", element="5c37a422-8bde-4c69-a42b-5aabb694e3fa")>]
[<selenium.webdriver.remote.webelement.WebElement (session="a9d26cd33f10d0af18bf6870350272c3", element="26460d5e-22de-496b-8280-8858d1e9c1da")>, <selenium.webdriver.remote.webelement.WebElement (session="a9d26cd33f10d0af18bf6870350272c3", element="c0085339-d69a-4304-b8f0-4f68b6db792c")>]
[<selenium.webdriver.remote.webelement.WebElement (session="a9d26cd33f10d0af18bf6870350272c3", element="81fd5486-2236-49c2-99c1-f3ff55cde695")>, <selenium.webdriver.remote.webelement.WebElement (session="a9d26cd33f10d0af18bf6870350272c3", element="b78ced01-41e3-4e5b-b494-402186cf07f0")>]
['New Balance', 'Columbia']
['Women Woven Running Shoes', 'PEAKFREAK XCRSN Trekking Shoe']
['Rs. 7149Rs. 12999(45% OFF)', 'Rs. 9999']

In [47]:
# Next button Scrapping:
Next_button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]')
Next_button

In [48]:
Next_button.click()

In [56]:
#Page2:
Brand_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
#print(Brand_tag[0:2])
Price_tag=driver.find_elements_by_xpath('//div[@class="product-price"]')
#print(Price_tag[0:2])
Des_tag=driver.find_elements_by_xpath('//h4[@class="product-product"]')
#print(Des_tag[0:2])
#Brand_name=[]
#Price_details=[]
#Des_name=[]
for i in Brand_tag:
    Brand_name.append(i.text)
for i in Des_tag:
    Des_name.append(i.text)
for i in Price_tag:
    Price_details.append(i.text)
print(Brand_name[45:50])
print(Des_name[45:50])
print(Price_details[45:50])

['Saint G', 'Saint G', 'Saint G', 'Pavers England', 'Saint G']
['Suede Party High-Top Block Heeled Boots', 'Suede High-Top Flatform Heeled Boots', 'Leather Boots with Buckles', 'Men Printed Loafers', 'High-Top Block Heeled Boots']
['Rs. 8925Rs. 10500(15% OFF)', 'Rs. 11475Rs. 13500(15% OFF)', 'Rs. 8925Rs. 10500(15% OFF)', 'Rs. 11999', 'Rs. 10625Rs. 12500(15% OFF)']

In [57]:
len(Brand_name),len(Des_name),len(Price_details)

(100, 100, 100)

In [58]:
#Dataframe:
Shoes=pd.DataFrame({"Brand":Brand_name,"Description":Des_name,"Price":Price_details})

In [59]:
Shoes

,Brand,Description,Price
0,New Balance,Women Woven Running Shoes,Rs. 7149Rs. 12999(45% OFF)
1,Columbia,PEAKFREAK XCRSN Trekking Shoe,Rs. 9999
2,Columbia,Women REDMOND V2 TrekkingShoe,Rs. 7999
3,Columbia,PEAKFREAK OUTDRY Trekking Shoe,Rs. 9999
4,Geox,Men Leather Driving Shoes,Rs. 9499
...,...,...,...
95,Saint G,Suede Party High-Top Block Heeled Boots,Rs. 8925Rs. 10500(15% OFF)
96,Saint G,Suede High-Top Flatform Heeled Boots,Rs. 11475Rs. 13500(15% OFF)
97,Saint G,Leather Boots with Buckles,Rs. 8925Rs. 10500(15% OFF)
98,Pavers England,Men Printed Loafers,Rs. 11999
99,Saint G,High-Top Block Heeled Boots,Rs. 10625Rs. 12500(15% OFF)

### Q8: Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” and After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:1. Title 2. Ratings 3. Price

In [69]:
driver=webdriver.Chrome("E:/chromedriver.exe")

In [70]:
url='https://www.amazon.in/'
driver.get(url)

In [71]:
#Scrapping the Search button:
Search_bt=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
Search_bt

In [72]:
Search_bt.send_keys("Laptop")

In [74]:
# Flitering
CPu_Filter=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[11]/span/a/div')

In [75]:
CPu_Filter.click()

In [76]:
#Tags
Laptop_tag=driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none s-padding-right-small s-title-instructions-style"]')
Rivew_tag=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]')
LapPrice_tag=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')

In [77]:
# extrating the web elements:
Latop=[]
Review=[]
Lap_price=[]
for i in Laptop_tag:
    Latop.append(i.text)
for i in Rivew_tag:
    Review.append(i.text)
for i in LapPrice_tag:
    Lap_price.append(i.text)
print(Latop[0:5])
print(Review[0:5])
print(Lap_price[0:5])

['Sponsored\nMi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office/Backlit KB/Fingerprint Sensor/1.7Kg)', 'Sponsored\nLG Gram 16 Ultra-Light Intel Evo 11th Gen Core i7 16 inches Laptop (16 GB RAM, 512 GB SSD, Windows 10 Home, Iris Xe Graphics, Thunderbolt 4, USC -C x 2 (with Power), 1.19 kg, 16Z90P, Black)', 'Mi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office/Backlit KB/Fingerprint Sensor/1.7Kg)', 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS', 'LG Gram 14 inches Ultra-Light Intel Evo 11th Gen Core i7 Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 0.999Kg, (14Z90P-G.AH85A2, Black)']
['901', '84', '901', '21', '84']
['77,499', '85,990', '77,499', '57,490', '81,999']

In [81]:
len(Latop),len(Review),len(Lap_price)

(30, 24, 30)

In [83]:
#DataFrame:
Laptop=pd.DataFrame({"Laptop":Latop[0:11],"Review":Review[0:11],"Price":Lap_price[0:11]})

In [84]:
Laptop

                                               Laptop Review     Price
0   Sponsored\nMi Notebook Ultra 3.2K Resolution D...    901    77,499
1   Sponsored\nLG Gram 16 Ultra-Light Intel Evo 11...     84    85,990
2   Mi Notebook Ultra 3.2K Resolution Display Inte...    901    77,499
3   ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...     21    57,490
4   LG Gram 14 inches Ultra-Light Intel Evo 11th G...     84    81,999
5   ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...      3    89,990
6   Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...     47    89,990
7   Lenovo Yoga 7 11th Gen Intel Core i7 14"(35.56...     52    95,990
8   Lenovo ThinkBook Yoga 14s Intel Core i7 11th G...      9    87,990
9   ASUS TUF Gaming F17 (2022), 17.3-inch (43.94 c...    140  1,35,990
10  LG Gram Intel Evo 11th Gen Core i7 17 inches U...     75    96,999

### 10 Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [85]:
driver=webdriver.Chrome("E:/chromedriver.exe")

In [86]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [92]:
Job_tab=driver.find_element_by_xpath('//a[@href="/jobs"]')

In [93]:
Job_tab.click()

In [94]:
#Search Tab:
Search_job=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input")

In [95]:
Search_job.send_keys("Data Scientist")

In [96]:
Search_bt=driver.find_element_by_xpath('//button[@class="ab_btn search-btn round"]')

In [97]:
Search_bt.click()

In [119]:
#Tags:
Company_tag=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
print(Company_tag[0:2])
Rating_tag=driver.find_elements_by_xpath('//a[@class="rating rating-35"]')
print(Rating_tag[0:2])
Days_tag=driver.find_elements_by_xpath('//span[@class="body-small-l"]')
print(Days_tag[0:2])

[<selenium.webdriver.remote.webelement.WebElement (session="a515189d57df3dab9eb8ce3e5dd35af2", element="18f464f4-1d3c-4ddd-a02a-d6fd5b53fde9")>, <selenium.webdriver.remote.webelement.WebElement (session="a515189d57df3dab9eb8ce3e5dd35af2", element="a2616aba-e799-4750-a681-3f5a90f17725")>]
[<selenium.webdriver.remote.webelement.WebElement (session="a515189d57df3dab9eb8ce3e5dd35af2", element="8f88d86c-2642-4d4f-860b-f881187915a0")>, <selenium.webdriver.remote.webelement.WebElement (session="a515189d57df3dab9eb8ce3e5dd35af2", element="3b5b4297-c36a-41f8-8d8c-58fa26462079")>]
[<selenium.webdriver.remote.webelement.WebElement (session="a515189d57df3dab9eb8ce3e5dd35af2", element="5e2fb45a-8e81-4647-830c-f3b4ee8be28f")>, <selenium.webdriver.remote.webelement.WebElement (session="a515189d57df3dab9eb8ce3e5dd35af2", element="099a4e5d-5992-49bd-b8b9-d537a44fbf84")>]

In [120]:
# Extracting the element:
Company_name=[]
Ratings=[]
Days=[]
for i in Company_tag:
    Company_name.append(i.text)
for i in Rating_tag:
    Ratings.append(i.text)
for i in Days_tag:
    Days.append(i.text)
print(Company_name[0:5])
print(Ratings[0:5])
print(Days[0:5])

['NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED', 'HCL Technologies Limited', 'Optum Global Solutions (India) Private Limited', 'WSP CONSULTANTS INDIA PRIVATE LIMITED', 'Microsoft India (R and D) Pvt Ltd']
['3.9', '3.9', '3.8', '3.8', '3.9']
['7d ago', 'via naukri.com', '9d ago', 'via naukri.com', '19d ago']

In [124]:
len(Company_name),len(Ratings),len(Days)

(10, 10, 20)

In [123]:
Ratings.append(4.0)

In [127]:
#DataFrame:
Jobs_ds=pd.DataFrame({"Company":Company_name[0:10],"Ratings":Ratings[0:10],"Posting_days":Days[0:10]})

In [128]:
Jobs_ds

                                             Company Ratings    Posting_days
0  NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED     3.9          7d ago
1                           HCL Technologies Limited     3.9  via naukri.com
2     Optum Global Solutions (India) Private Limited     3.8          9d ago
3              WSP CONSULTANTS INDIA PRIVATE LIMITED     3.8  via naukri.com
4                  Microsoft India (R and D) Pvt Ltd     3.9         19d ago
5                               HCL Technologies Ltd     3.8  via naukri.com
6                         Jubilant Foodworks Limited     3.8          9d ago
7                                   HCL Technologies     3.7  via naukri.com
8               RATEGAIN TRAVEL TECHNOLOGIES LIMITED     4.0         20d ago
9                    Hanu Software Solutions Pvt Ltd     4.0  via naukri.com

### Q10: Write a python program to scrape the salary data for Data Scientist designation.You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary

In [129]:
driver=webdriver.Chrome("E:/chromedriver.exe")

In [130]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [131]:
Sal_tab=driver.find_element_by_xpath('//a[@href="https://www.ambitionbox.com/salaries"]')

In [132]:
Sal_tab.click()

In [133]:
#search tag:
se_tab=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')

In [134]:
se_tab.send_keys("Data Scientist")

In [136]:
se_tab.click()

In [137]:
comp_tag=driver.find_elements_by_xpath('//div[@class="name"]')

In [170]:
comp_d=[]
for i in comp_tag:
    comp_d.append(i.text.split('\n'))

In [171]:
comp_d

[['Ab Inbev', 'based on 28 salaries'],
 ['ZS', 'based on 15 salaries'],
 ['Optum', 'based on 25 salaries'],
 ['Fractal Analytics', 'based on 77 salaries'],
 ['Tiger Analytics', 'based on 33 salaries'],
 ['UnitedHealth', 'based on 52 salaries'],
 ['Verizon', 'based on 14 salaries'],
 ['Ganit Business Solutions', 'based on 13 salaries'],
 ['Ericsson', 'based on 43 salaries'],
 ['Deloitte', 'based on 57 salaries']]

In [174]:
Jobss_tag=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
Jobss_tag[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="f3bd393cf81e152a4216a2b6c7d3ed00", element="0ff14a05-fd70-4ff6-aefe-b6ffb83f965b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3bd393cf81e152a4216a2b6c7d3ed00", element="4c466bbc-c67a-4923-bc30-66439ed087bd")>]

In [177]:
JD=[]
for i in Jobss_tag:
    JD.append(i.text.split('.'))

In [188]:
JD

[['Data Scientist\n ', ' \n3-4 yrs exp'],
 ['Data Scientist\n ', ' \n2 yrs exp'],
 ['Data Scientist\n ', ' \n3-4 yrs exp'],
 ['Data Scientist\n ', ' \n2-4 yrs exp'],
 ['Data Scientist\n ', ' \n3-4 yrs exp'],
 ['Data Scientist\n ', ' \n2-4 yrs exp'],
 ['Data Scientist\n ', ' \n4 yrs exp'],
 ['Data Scientist\n ', ' \n4 yrs exp'],
 ['Data Scientist\n ', ' \n3-4 yrs exp'],
 ['Data Scientist\n ', ' \n2-4 yrs exp']]

In [189]:
#Salary_min:
Sal_min=driver.find_elements_by_xpath('//div[@class="value body-medium"]')

In [191]:
min_sal=[]
for i in Sal_min:
    min_sal.append(i.text)
min_sal

['₹ 15.0L',
 '₹ 25.5L',
 '₹ 9.5L',
 '₹ 20.0L',
 '₹ 11.0L',
 '₹ 21.3L',
 '₹ 9.5L',
 '₹ 22.0L',
 '₹ 8.3L',
 '₹ 20.0L',
 '₹ 8.3L',
 '₹ 20.5L',
 '₹ 10.0L',
 '₹ 21.0L',
 '₹ 8.5L',
 '₹ 15.0L',
 '₹ 5.8L',
 '₹ 24.0L',
 '₹ 6.9L',
 '₹ 23.4L']

In [192]:
#Avg_sal:
Sal_Avg=driver.find_elements_by_xpath('//p[@class="averageCtc"]')

In [193]:
avg_sal=[]
for i in Sal_Avg:
    avg_sal.append(i.text)
avg_sal

['₹ 20.3L',
 '₹ 15.3L',
 '₹ 15.1L',
 '₹ 15.1L',
 '₹ 14.4L',
 '₹ 13.9L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L',
 '₹ 11.7L']

In [199]:
#Max Sal:
Sal_Max=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
Sal_Max[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="f3bd393cf81e152a4216a2b6c7d3ed00", element="8dd8c452-ab80-4cec-ac82-f563be8c0f5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3bd393cf81e152a4216a2b6c7d3ed00", element="ed574f27-5bd5-4482-a9d5-2e8dad689d35")>]

In [200]:
max_sal=[]
for i in Sal_Max:
    max_sal.append(i.text)
max_sal

['₹ 15.0L',
 '₹ 25.5L',
 '₹ 9.5L',
 '₹ 20.0L',
 '₹ 11.0L',
 '₹ 21.3L',
 '₹ 9.5L',
 '₹ 22.0L',
 '₹ 8.3L',
 '₹ 20.0L',
 '₹ 8.3L',
 '₹ 20.5L',
 '₹ 10.0L',
 '₹ 21.0L',
 '₹ 8.5L',
 '₹ 15.0L',
 '₹ 5.8L',
 '₹ 24.0L',
 '₹ 6.9L',
 '₹ 23.4L']

In [202]:
len(comp_d),len(JD),len(min_sal),len(avg_sal),len(max_sal)

(10, 10, 20, 10, 20)

In [203]:
#DataFrame:
Salary_deatils=pd.DataFrame({"CompanyDetails":comp_d,"JobDetails":JD,"Min_Salray":min_sal[0:10],"Avg_Salary":avg_sal,"Max_Salary":max_sal[0:10]})

In [204]:
Salary_deatils

,CompanyDetails,JobDetails,Min_Salray,Avg_Salary,Max_Salary
0,"[Ab Inbev, based on 28 salaries]","[Data Scientist\n , \n3-4 yrs exp]",₹ 15.0L,₹ 20.3L,₹ 15.0L
1,"[ZS, based on 15 salaries]","[Data Scientist\n , \n2 yrs exp]",₹ 25.5L,₹ 15.3L,₹ 25.5L
2,"[Optum, based on 25 salaries]","[Data Scientist\n , \n3-4 yrs exp]",₹ 9.5L,₹ 15.1L,₹ 9.5L
3,"[Fractal Analytics, based on 77 salaries]","[Data Scientist\n , \n2-4 yrs exp]",₹ 20.0L,₹ 15.1L,₹ 20.0L
4,"[Tiger Analytics, based on 33 salaries]","[Data Scientist\n , \n3-4 yrs exp]",₹ 11.0L,₹ 14.4L,₹ 11.0L
5,"[UnitedHealth, based on 52 salaries]","[Data Scientist\n , \n2-4 yrs exp]",₹ 21.3L,₹ 13.9L,₹ 21.3L
6,"[Verizon, based on 14 salaries]","[Data Scientist\n , \n4 yrs exp]",₹ 9.5L,₹ 12.7L,₹ 9.5L
7,"[Ganit Business Solutions, based on 13 salaries]","[Data Scientist\n , \n4 yrs exp]",₹ 22.0L,₹ 12.4L,₹ 22.0L
8,"[Ericsson, based on 43 salaries]","[Data Scientist\n , \n3-4 yrs exp]",₹ 8.3L,₹ 11.9L,₹ 8.3L
9,"[Deloitte, based on 57 salaries]","[Data Scientist\n , \n2-4 yrs exp]",₹ 20.0L,₹ 11.7L,₹ 20.0L